@mixin generateBtn($background,$borderColor,$bgHover, $bdHover){
  background: $background;
  border-color: $borderColor;

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &dropdown-toggle,
  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active:focus,
  & & .show > &.dropdown-toggle:focus {
    background: $background;
    border-color: $borderColor;
    box-shadow: 0 0 0 0.2rem rgba($background, 0.5);
  }

  &:hover {
    background: $bgHover;
    border-color: $bdHover;
  }
}

@mixin queries($min-width){
  @media screen and (min-width: #{$min-width}px){
    @content
  }
}

@function getImage($image){
  @return url('../images/' +  $image);
}