// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunitoo", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$blue_page: #195697;
$white: #fff;
$dark_gray: #bdbdbd;

$primary: #01a2e3;
$primary-hover: #0382b4;
$secondary: #888B8D;
$secondary-hover: #bcbcbb;
$ligth_gray: rgba(0, 0, 0, 0.05);
$black: rgb(0, 0, 0);

//Measure
$border: 1px solid;
